.background{
  position:relative;
  /* background-image: linear-gradient(rgb(77, 77, 77), rgb(76, 76, 76),rgb(39, 39, 39),rgb(30, 29, 29),black); */
  background-image: linear-gradient(rgb(136, 50, 50), rgb(72, 34, 104),rgb(0, 0, 0),rgb(0, 0, 0),rgb(0, 0, 0));
  /* background-color: rgb(48, 48, 48); */
  height: 300%;
}

.backgroundMain{
  position:relative;
  background-image: url(/images/test1.jpg);
  filter: blur(50px);
  -webkit-filter: blur(5px);
  height: 100%;
  animation: slide-in-bottom 1s ease-in-out forwards;
}
.navbar{
  background: #3e3b3b31;
  backdrop-filter: blur(20px);
  
  
}

.navbar-One,navbar ms-auto{
  background: #08080800;
  display: inline;
    justify-content: center;
    align-items: center;
  
}

.container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
}


.zoom-in-out-box, .zoom-in-out-box1, .zoom-in-out-box2, .ldio-0d4v8gn0jow {
  position:absolute;
  width: 500px;
    background: #f6f6f600;
    animation: zoom-in-zoom-out 4s ease;
    animation-fill-mode: forwards;
    color: aliceblue;
  }

  .playerControls{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar, fixed-bottom navbar-expand{
    display:inline;
    justify-content: center;
    align-items: center;
  }

  .song-list li.playing {
    background-color: rgba(255, 255, 255, 0.2); /* Light background for highlight */
    box-shadow: 0 0 5px rgba(172, 12, 12, 0.881); /* Subtle shadow for emphasis */
    
  }

  .timeCont{
    display: flex;
    justify-content: space-between;
  }

  .timeText{
    color: white;
    margin-left: 20px;
  }

  .timeTextLength{
    color: white;
    align-self: flex-end;
    margin-right: 20px;
  }

  .playerControls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #000000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(83, 46, 185, 0.22);
    cursor: pointer;
  }

  .playerControls div{
    transform: scale(1.5);
    background: rgb(232, 247, 234);
  }

  #progressBar{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #4be667;
    border-radius: 0px;
    cursor: pointer;
    margin: 40px 0;
  }

  #progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    -webkit-appearance: none;
    background: #31f541;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #000000;
    box-shadow: e 5px 5px rgba(255,26,26,0.22);
  }

  .music{
    position: relative;
      background: #f6f6f600;
      animation: zoom-in-zoom-out 4s;
      animation-fill-mode: forwards;
      color: aliceblue;
    }

  .zoom-in-out-box1{
    opacity: 0;
    animation-delay: 5s;
  }
  .ldio-0d4v8gn0jow{
    opacity: 0;
    animation-delay: 5s;
  }


  .d{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 50%;  /* Or any other desired width */
    margin: auto;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180vb;
    width: 100%;  /* Or any other desired width */
    margin: auto;
    margin-top: 0px;
    color: aliceblue;
  }
  .m{

    margin-top: 15px;
    display:flex;
    
  }
.m h1{
  margin-block-start: 30%;
  margin-left: 10px;
  color:rgb(0, 0, 0);
  display:inline-flex;
}

.ptext{
  margin: 20px;
  max-width: 600px;
  color: #acacac;
}

.playingtext{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #acacac;
}
.playlist{
  align-items: center;
  justify-content: center;
}
#song-list{
  color: rgb(255, 255, 255);
  line-height: 4;
  list-style-type: none;
}

.songHead{
  margin: 30px;
  color: rgb(255, 255, 255);
}

.song-container {
  cursor: pointer; /* Indicate clickable items */
  padding: 10px; /* Add some padding */
  margin-bottom: 5px; /* Add some margin for separation */
}

.song-container:hover {
  background-color: rgb(25, 192, 56); /* Optional hover background color */
  /* Add other hover animations here (e.g., transform, opacity) */
}

.listBG{
  background-color: rgba(248, 248, 248, 0);
  font-size:small;
  width: auto;
  padding: 0px;
  max-width: 900px;
}
#player{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.song-container {
  transition: color 0.5s ease;
  display: flex; /* Arrange title and artist horizontally */
  flex-direction: column; /* Stack title and artist vertically */
  align-items: flex-start; /* Align content to the left */
  color: white;
  background: rgba(53, 53, 53, 0.219);
  box-shadow: 0 0 0px rgb(255, 255, 255);
}

.song-container:hover{
  transition: color 0.5s ease;
  color: white;
  box-shadow: 0 0 50px rgb(13, 126, 32);
}

.song-container.clicked {
  color: white;
  box-shadow: 0 0 50px rgb(255, 255, 255);
}

.artist {
  font-size: 0.8em; /* Reduce artist text size (optional) */
  color: gray; /* Set artist text color to gray (optional) */
  /* Optional styles for the artist text */
}

#album-cover{
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  
}

.album-cover{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  color: #111;
            background: rgb(255, 255, 255);
            box-shadow: 0 0 20pxF rgb(255, 255, 255);
}

  .zoom-in-out-box2{
    opacity: 0;
    animation-delay: 10s;
  }

  .music{
    opacity: 0;
    animation-delay: 15s;
  }

  .play-button{
    float: right;
    margin-right:30px;
    width: 50px;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
      opacity: 0;
    }
    50% {
      transform: scale(1.5, 1.5);
      opacity: 1;
    }
    100% {
      transform: scale(2, 2);
      opacity: 0;
    }
  }

  @keyframes music {
    0% {
      transform: scale(1, 1);
      opacity: 0;
    }
    50% {
      transform: scale(1.5, 1.5);
      opacity: 1;
    }
    100% {
      transform: scale(2, 2);
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    from { transform: translateY(100%); } /* Start from 100% off-screen (bottom) */
    to { transform: translateY(0); } /* Animate to original position */
  }

  @keyframes ldio-0d4v8gn0jow {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-0d4v8gn0jow{
    position: relative;
    width: 200px;
    height: 200px;
    border: 20px solid #4be6b7;
    border-top-color: transparent;
    border-radius:100%;
  }
  .ldio-0d4v8gn0jow{
    animation: ldio-0d4v8gn0jow 0.6451612903225806s linear infinite;
    top: 100px;
    left: 100px
  }
  .loadingio-spinner-rolling-llyg8190y3 {
    width: 10px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f300;
  }
  .ldio-0d4v8gn0jow div{
    width: 50%;
    height: 50%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-0d4v8gn0jow div { box-sizing: content-box; }



  